.bulletin-board-search-container {
    display: flex;
    justify-content: flex-end;
    width: 150%;
    max-width: 600px; /* 부모 컨테이너 크기 제한 */
}

.bulletin-board-search {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* 필터와 검색창 사이 간격 */
    align-items: center;  /* 수직 정렬 */
}

/* 필터 버튼 */
.bulletin-board-search-select {
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid #ccc;
}

/* 검색 입력창 스타일 */
.bulletin-board-search-input {
    width: 100px;  /* 고정된 너비 설정 */
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
}

/* 필터 버튼 스타일 */
.bulletin-board-search-button {
    background-color: #007BFF;  /* 배경색 설정 */
    color: white;               /* 글자 색을 흰색으로 설정 */
    padding: 6px 16px;
    border-radius: 25px;
    text-transform: none;
    width: 100px;               /* 버튼 너비 고정 */
    min-width: 100px;           /* 최소 너비 설정 */
    max-width: 100px;           /* 최대 너비 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;    /* 텍스트가 너무 길면 생략 표시(...) */
    white-space: nowrap;        /* 텍스트가 한 줄로 유지되게 설정 */
    overflow: hidden;           /* 넘치는 텍스트 숨기기 */
}

/* 호버 시 배경색 변경 */
.bulletin-board-search-button:hover {
    background-color: #0056b3; /* 호버시 배경색 변경 */
}
