/* 컨테이너 스타일 */
.edu-write-container {
    max-width: 1000px; /* 최대 폭 설정 */
    width: 100%; /* 100% 너비로 확장 가능 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px;
    box-sizing: border-box; /* padding과 border를 크기 안에 포함 */
    display: flex;
    flex-direction: column; /* 내용은 세로로 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    margin-top: 40px;
}

.edu-card {
    width: 100%; /* 카드가 컨테이너의 폭에 맞게 채워짐 */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.edu-card-body {
    font-family: Arial, sans-serif;
}

.edu-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.edu-form-group {
    margin-bottom: 15px;
    text-align: center;  /* 텍스트와 이미지를 중앙 정렬 */
}

.edu-button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.edu-error-message {
    color: red;
    margin-bottom: 15px;
}

/* 썸네일 미리보기 컨테이너 스타일 */
.edu-writer-thumbnail-container img {
    max-width: 250px; /* 이미지의 너비가 컨테이너 너비를 초과하지 않게 제한 */
    max-height: 300px; /* 최대 높이를 400px로 제한 */
    object-fit: cover; /* 이미지가 잘리지 않게 비율을 유지하면서 크기를 맞춤 */
    margin-top: 10px;
    border-radius: 8px;
}


