/* src/css/mealCounsel/MealCounselEdit.css */

/* Container Style */
.meal-edit-container {
    max-width: 1000px; /* 최대 폭 설정 */
    width: 100%; /* 100% 너비로 확장 가능 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
  }
  
  /* Card Style */
  .meal-card {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  
  /* Card Body */
  .meal-card-body {
    padding: 20px;
    text-align: center; /* 본문 내용을 중앙 정렬 */
  }
  
  /* Title */
  .meal-card-body h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Form Group */
  .meal-form-group {
    margin-bottom: 20px;
  }
  
  .meal-form-group input,
  .meal-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea.meal-form-control {
    resize: vertical;
  }
  
  /*버튼 그룹 스타일*/
  .meal-button-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  /* Error Message */
  .meal-error-message {
    color: red;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  