/* Memberlist.css */

/* 데이터 그리드 전체 박스 */
.data-grid-box {
    width: 110%; /* 화면 크기에 맞춰 크기 조정 */
    max-width: 1200px; /* 최대 크기 설정 */
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.addMember-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}