/* 전체 테이블 컨테이너 */
.communitynotice-list-container {
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

/* 전체 글 목록 테이블 스타일 */
.communitynotice-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.communitynotice-table th, .communitynotice-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.communitynotice-table th {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.communitynotice-table td {
  background-color: #fff;
  cursor: pointer;
}

.communitynotice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.communitynotice-table tr:hover {
  background-color: #e9e9e9;
}

/* 글 작성 버튼 */
.communitycreate-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 15px 30px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.communitycreate-button:hover {
  background-color: #218838;
  box-shadow: 0 6px 16px rgba(33, 136, 56, 0.3);
}

/* 검색 컨테이너 */
.CommunitySearchContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

/* 검색 타입 선택창 */
.CommunitySearchSelect {
  padding: 8px;
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 검색 입력창 */
.CommunitySearchInput {
  padding: 8px;
  width: 250px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

/* 검색 버튼 */
.CommunitySearchButton {
  padding: 8px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff; /* 파란색 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.CommunitySearchButton:hover {
  background-color: #0056b3; /* 진한 파란색 */
}